DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
AUTH_PASSPHRASE="flowmotion123"
PASSPHRASE_HASH="$2b$10$/fPTcJoBn/ZyjwaKj1z0NOOhHyl85hxn5Mg0rNZZeVPFnMNls0jWC"
SESSION_SECRET="generate-a-32-char-random-secret-key-for-jwt"